@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>
    <strong><a asp-page="Create">Create New</a></strong>
</p>
<table class="table-striped">
 <thead>

 </thead>
</table>
