@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
   <strong> Universitatea Transilvania Brasov<br />
    Departamentul de Automatica si Informatica Aplicata<br /></strong>
    <abbr title="Phone"><strong>Phone:</strong></abbr></br>
    0268 413 000</br>
</address>

<address>
   <strong>License Guide:</strong></br> Ș.l. dr. ing. Cristian BOLDIȘOR</br></br>
    <strong>Contact Phone:</strong><p>0766677375</p>
    <strong>Contact Email:</strong> </br>  <a href="mailto:yahoo.com">cristian.boldisor@unitbv.ro</a><br /></br>
</address>

<address>
    <strong>Student:</strong></br> Runcean Rares Nicolae</br></br>
    <strong>Contact Phone:</strong><p>0746052963</p>
    <strong>Contact Email:</strong> </br>  <a href="mailto:yahoo.com">rares.runcean@student.unitbv.ro</a><br />
</address>

<address>
    <strong>Support:</strong>   <a class="btn btn-default" href="https://unitbv.ro"> UnitBv &raquo;</a>

</address>
