@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>

    </ol>
    <div class="jumbotron">
        <h2>
            Simulator for the study of insulin glucose dynamics models
            <a class="btn btn-default" href="https://ro.wikipedia.org/wiki/Insulină">
                Learn More
            </a>
        </h2>
    </div>
    <div style="background-image: url('images/medicina8.jpg'); height:800px; width:auto">
        <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align:center" ;>Medicine for all</h2>
        <p style="font-size:large">
            People (usually with type 1 diabetes) may also experience episodes of diabetic ketoacidosis (DKA), a metabolic disturbance characterized by
            nausea, vomiting and abdominal pain, the smell of acetone on the breath, deep breathing known as Kussmaul breathing, and in severe cases a
            decreased level of consciousness. A rare but equally severe possibility is hyperosmolar hyperglycemic state (HHS)
            , which is more common in type 2 diabetes and is mainly the result of dehydration
            Insulin is the principal hormone that regulates the uptake of glucose from the blood into most cells of the body, especially liver, adipose tissue and muscle, except smooth muscle, in which insulin acts via the IGF-1. Therefore, deficiency of insulin or the insensitivity of its receptors play a central role in all forms of diabetes mellitus.

        </p>

   </div>
    </div>
